div#main {
	width: 100%;
	margin: 0;
}

div#background {
	width: 100%;
	margin: 0;
}

div#content {
	width: 100%;
	padding: 23px;
	margin: 0 0 1.5em 0;
	box-sizing: border-box;
}

div#top {
	display: block;
}

div#screenshot {
	display: none;
}

div.download-box {
	line-height: 1.44em;
}

div.download-box > img {
	width: 4.32em;
	height: 4.32em;
}

div#mobile-only {
	display: block;
}

img#mobile-screenshot {
	max-width: 100%;
	height: auto;
}

a#screenshot-toggle {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

div#copyright {
	right: 20px;
}
