@font-face {
	font-family: NotoSans;
	font-weight: normal;
	src: url("font/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: NotoSans;
	font-weight: bold;
	src: url("font/NotoSans-Bold.ttf") format("truetype");
}

html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	
	font-family: NotoSans;
	font-size: 16px;
}

body {
	text-align: center;
	height:100%;
	margin:0;
	padding:0;
	background-color: #7ea6c8;
}

div#main {
	width: 1000px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
}

div#background {
	background-color: #f8f8f8;
	width: 1000px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: fixed;
	z-index: 1;
}

div#content {
	width: 954px;
	margin: 23px;
	margin-bottom: 0;
	text-align: left;
	padding: 0;
	padding-bottom: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

div#copyright {
	position: absolute;
	top: 1ex;
	right: 0;
}

h1 {
	margin-top: 0;
}

h1, h3 {
	margin-bottom: 0;
}

div#top {
	display: flex;
}

div#downloads {
	flex-grow: 1;
}

div#screenshot {
	flex-grow: 0;
	position: relative;
	bottom: 53px;
	left: 65px;
	margin-left: -70px;
	margin-bottom: -125px;
}

img#logo {
	display: inline;
	vertical-align: middle;
	margin-right: 0.5ch;
	width: 1.5em;
	height: 1.5em;
}

div.download-box {
	display: flex;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #eff0f1;
	margin-bottom: 6px;
	padding: 4px;
}

div.download-box > img {
	flex-grow: 0;
	width: 64px;
	height: 64px;
}

div.download-box > div {
	flex-grow: 1;
	margin-left: 4px;
}

a:link {
	color: #0033aa;
	text-decoration: none;
}

a:visited {
	color: #0033aa;
	text-decoration: none;
}

a:hover {
	color: #0033aa;
	text-decoration: underline;
}

a:active {
	color: #3366cc;
	text-decoration: underline;
}

p {
	text-align: justify;
	margin-top: 0;
}

div#mobile-only {
	display: none;
}
